<% if @article&.comments&.size > 0 %>
  <div class="comments-wrap">
    <div id="comments" class="column large-12">

      <h3 class="h2"><%= @article.comments.size %> Comentários</h3>
      <ol class="commentlist">
        <% @article.comments.each do |comment| %>
        <li class="thread-alt depth-1 comment">

          <div class="comment__content">

            <div class="comment__info">
              <div class="comment__author"><%= comment.name %></div>

              <div class="comment__meta">
                <div class="comment__time"><%= I18n.l(comment.created_at, format: :short) %></div>
              </div>
            </div>

            <div class="comment__text">
              <%= raw comment.content %>
            </div>

          </div>
          <% if comment.comments.size > 0 %>
          <ul class="children">

            <li class="depth-2 comment">

              <div class="comment__avatar">
                <img class="avatar" src="images/avatars/user-03.jpg" alt="" width="50" height="50">
              </div>

              <div class="comment__content">

                <div class="comment__info">
                  <div class="comment__author">Kakashi Hatake</div>

                  <div class="comment__meta">
                    <div class="comment__time">April 29, 2019</div>
                    <div class="comment__reply">
                      <a class="comment-reply-link" href="#0">Reply</a>
                    </div>
                  </div>
                </div>

                <div class="comment__text">
                  <p>Duis sed odio sit amet nibh vulputate
                    cursus a sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit amet nibh vulputate
                    cursus a sit amet mauris</p>
                </div>

              </div>

              <ul class="children">

                <li class="depth-3 comment">

                  <div class="comment__avatar">
                    <img class="avatar" src="images/avatars/user-04.jpg" alt="" width="50" height="50">
                  </div>

                  <div class="comment__content">

                    <div class="comment__info">
                      <div class="comment__author">John Doe</div>

                      <div class="comment__meta">
                        <div class="comment__time">April 29, 2019</div>
                        <div class="comment__reply">
                          <a class="comment-reply-link" href="#0">Reply</a>
                        </div>
                      </div>
                    </div>

                    <div class="comment__text">
                      <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est
                        etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
                    </div>

                  </div>

                </li>

              </ul>

            </li>

          </ul>
          <% end %>

        </li>
        <% end %>
      </ol>


    </div>
  </div>
<% end %>